@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Variables
$input-color: rgb(111, 164, 214);

.input {
    margin: auto;
    width: 45vw;
    min-width: 300px;
    max-width: 400px;
    height: 60px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    font-size: 1em;

    .label-input {
        font-size: 1.2em;
        height: 100%;
        width: 100%;
        border: none;
        box-sizing: border-box;
        padding-top: 30px;
        outline: none;
        border-bottom: 2px solid rgb(78, 78, 78);
    }

    .label-name {
        position: absolute;
        pointer-events: none;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 2em;

        // border: 2px solid black;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-bottom: 2px solid $input-color;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }

        .content-name {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1em;
            transform: translateY(0);
            transition: all 0.4s ease;
        }
    }

    input[type="submit"] {
        font-size: 2.3em;
        display: block;
        position: absolute;
        right: 0.1vw;
        bottom: 5%;
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .label-input:focus+.label-name::after,
    .label-input:valid+.label-name::after {
        transform: translateX(0);
    }

    .label-input:focus+.label-name .content-name,
    .label-input:valid+.label-name .content-name {
        font-size: 0.58em;
        transform: translateY(-150%);
        color: $input-color;
    }
}


