
.sub-window {
    margin: 10px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    
    .search {
        min-width: 350px;
        min-height: 350px;
        max-height: 800px;
        max-width: 800px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        height: 60vw;
    }
}

// @media all and (max-width:320px){
//     .sub-window{
//         .search{
//             width: 240px;
//             height: 240px;
//         }
//     }
// }

// @media all and (min-width:320px){

//     .sub-window{
//         .search{
//             width: 380px;
//             height: 380px;
//         }
//     }

// }


// @media all and (min-width:480px){

//     .sub-window{
//         .search{
//             width: 420px;
//             height: 420px;
//         }
//     }

// }


// @media all and (min-width:600px){
//     .sub-window{
//         .search{
//             width:500px;
//             height: 500px;
//         }
//     }
// }

// @media all and (min-width:720px){
//     .sub-window{
//         .search{
//             width:560px;
//             height: 560px;
//         }
//     }
// }
// // @media all and (min-width:720px){
//     // .sub-window{
//         // .search{
//             // display: none;
//             // width: 00px;
//             // height:700px;
//         // }
//     // }
// // }

// @media all and (min-width:1024px){
//     .sub-window{
//         .search{
//             // display: none;
//             width: 700px;
//             height:700px;
//         }
//     }
// }